<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Tags Management</h2>
  <div class="table-responsive">
    <a class="btn btn-success pull-right" href="tag-new.html">Add Tag</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Number</th>
        <th>Categories</th>
        <th>Label</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tagList; let i = index">
        <td>{{i}}</td>
        <td>{{item.name}}</td>
        <td><span class="label" [style.back-groundcolor]= item.color>{{item.name}}</span></td>
        <td>
          <a [routerLink] = "['/tags/edit/', item._id]">Edit</a>
          <span>&nbsp;&nbsp;</span>
          <a href="#" (click)="deleteTag(item.id, $event)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
